<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!--favicon-->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/team_connect_logo.JPG') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<style>
            nav a {
            text-decoration: none;
            color: #4a90e2;
            margin-left: 20px;
            font-weight: 500;
            transition: color 0.3s ease;
        }

        nav a:hover {
            color: #2980b9;
        }
        body {
            font-family: 'Poppins', sans-serif;
            line-height: 1.6;
            background-color: #f4f7f6;
            color: #333;
        }
</style>
<body>
    <nav>
        <a href="http://127.0.0.1:5000">Home</a>
        <a href="\login">Login</a>
        <a href="\register">register</a>
        
    </nav>
    <div class="container">
        <div class="form-container">
            <h2>Register</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert {{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form method="POST" action="{{ url_for('register') }}" id="registerForm">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username" required>
                </div>
                
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Register</button>
            </form>
            <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>